<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add new item</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #tableForm="ngForm">
    <div class="form-group">
      <label for="formGroupExampleInput">Name:</label>
      <input
        ngModel
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter pizza name"
        name="name"
        #name="ngModel"
        required
      />
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        This field is required
      </div>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Slug:</label>
      <input
        ngModel
        type="text"
        class="form-control"
        id="pizzaSlug"
        placeholder="Enter pizza slug"
        name="slug"
        #slug="ngModel"
        required
      />
      <div class="alert alert-danger" *ngIf="slug.touched && !slug.valid">
        This field is required
      </div>
    </div>
    <div class="form-group">
      <label for="pizzaSize">Size:</label>
      <select
        ngModel
        id="pizzaSize"
        class="form-control"
        name="size"
        #size="ngModel"
      >
        <option selected>Select pizza size</option>
        <option>23</option>
        <option>35</option>
        <option>50</option>
      </select>
      <div class="alert alert-danger" *ngIf="size.touched && !size.valid">
        This field is required
      </div>
    </div>
    <div class="form-group">
      <label for="pizzaPrice">Price:</label>
      <input
        ngModel
        type="number"
        class="form-control"
        id="pizzaPrice"
        placeholder="Enter pizza price"
        name="price"
        #price="ngModel"
      />
      <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
        This field is required
      </div>
    </div>
    <div class="form-buttons-container">
      <div class="form-buttons">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn btn-primary"
          (click)="addRow(tableForm)"
        >
          Add
        </button>
      </div>
    </div>
  </form>
</div>
