<div class="row">
  <div class="col-md-6 text-center">
    <i class="bi bi-shop" style="font-size: 3rem; color: orange;"></i>
    <h4>Family Owned</h4>
    <p>Family Owned business. Bringing Home-crafted delicious pizza to all local residents.</p>
  </div>
  <div class="col-md-6 text-center">
    <i class="bi bi-hand-thumbs-up-fill" style="font-size: 3rem; color: skyblue;"></i>
    <h4>100% quality Service</h4>
    <p>The Pizza Store provides top quality pizza made fresh everyday.</p>
  </div>
</div>
