<div class="container mb-10" class="menu-table">
  <!-- <app-search></app-search> -->

  <div class="form-outline">
    <input
      type="search"
      id="form1"
      class="form-control"
      placeholder="Search menu items"
      aria-label="Search"
      [(ngModel)]="name"
      (ngModelChange)="Search()"
    />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Date Added</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let menuItem of menuData; let i = index"
        [attr.data-index]="i"
      >
        <td>{{ menuItem.name }}</td>
        <td>{{ menuItem.size }}</td>
        <td>{{ menuItem.price }}</td>
        <td>{{ menuItem.date }}</td>
        <td>
          <button
            type="button"
            class="btn btn-secondary button-style"
            (click)="editRow(content, i)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-secondary button-style"
            (click)="deleteRow($event)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click)="open(content)">
    Add
  </button>
  <ng-template #content let-modal>
    <!-- <app-menu-form></app-menu-form> -->

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new item</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #tableForm="ngForm">
        <div class="form-group">
          <label for="formGroupExampleInput">Name:</label>
          <input
            ngModel
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter pizza name"
            name="name"
            #name="ngModel"
            required
          />
          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            This field is required
          </div>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput2">Slug:</label>
          <input
            ngModel
            type="text"
            class="form-control"
            id="pizzaSlug"
            placeholder="Enter pizza slug"
            name="slug"
            #slug="ngModel"
            ng-value="name"
            required
          />
          <div class="alert alert-danger" *ngIf="slug.touched && !slug.valid">
            This field is required
          </div>
        </div>
        <div class="form-group">
          <label for="pizzaSize">Size:</label>
          <select
            ngModel
            id="pizzaSize"
            class="form-control"
            name="size"
            #size="ngModel"
            ng-value="name"
          >
            <option selected>Select pizza size</option>
            <option>23</option>
            <option>35</option>
            <option>50</option>
          </select>
          <div class="alert alert-danger" *ngIf="size.touched && !size.valid">
            This field is required
          </div>
        </div>
        <div class="form-group">
          <label for="pizzaPrice">Price:</label>
          <input
            ngModel
            type="number"
            class="form-control"
            id="pizzaPrice"
            placeholder="Enter pizza price"
            name="price"
            #price="ngModel"
            ng-value="name"
          />
          <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
            This field is required
          </div>
        </div>
        <div class="form-buttons-container">
          <div class="form-buttons">
            <button
              type="button"
              class="btn btn-light"
              (click)="modal.dismiss('Cross click')"
            >
              Cancel
            </button>

            <button
              type="button"
              class="btn btn-primary"
              (click)="addRow(tableForm)"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
