<div class="container mb-10">
  <div class="form-outline">
    <input
      type="search"
      id="form1"
      class="form-control"
      placeholder="Search menu items"
      aria-label="Search"
      [(ngModel)]="name"
      (ngModelChange)="Search()"
    />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">size</th>
        <th scope="col">price</th>
        <th scope="col">date added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menuItem of menuData">
        <td>{{ menuItem.name }}</td>
        <td>{{ menuItem.size }}</td>
        <td>{{ menuItem.price }}</td>
        <td>{{ menuItem.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
