<div class="container mb-10">
  <app-search></app-search>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">size</th>
        <th scope="col">price</th>
        <th scope="col">date added</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menuItem of menuData">
        <td>{{ menuItem.name }}</td>
        <td>{{ menuItem.size }}</td>
        <td>{{ menuItem.price }}</td>
        <td>{{ menuItem.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
