<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pt-5">
        <img src="/assets/images/pizza-cut.svg">
      </div>
      <div class="col-md-7">
        <h1 class="display-3">Pizza Store</h1>
        <p class="text-muted">The Pizza Store is a local, family-owned business. Providing world class italian pizza and many popular dishes for over 30 years.</p>
        <p class="text-muted">We use the freshest and high quality ingredients for all of our dishes. According to local customers, The Pizza Store is one of the best-class pizza restaurants in the area.</p>
      </div>
    </div>
  </div>
</div>
